/* ====================================================   COLOR   ==================================================== */

a.more,
.banner .menu_top  li a:hover, 
.banner .menu_top  li a#active,
.columns-hot li
{
	background: #9531BE;
}

h1
{
	color: #9531BE;
}

.banner
{
	background: #000000 url('../../themes/violett/header.png') no-repeat center bottom;
	border-top: 5px solid #9531BE;
}
