/* ====================================================   COLOR   ==================================================== */

a.more,
.banner .menu_top  li a:hover, 
.banner .menu_top  li a#active,
.columns-hot li
{
	background: #009ECE;
}

h1
{
	color: #018DB8;
}

.banner
{
	background: #000000 url('../../themes/blue/header.png') no-repeat center bottom;
	border-top: 5px solid #009ECE;
}
