/* ====================================================   COLOR   ==================================================== */

a.more,
.banner .menu_top  li a:hover, 
.banner .menu_top  li a#active,
.columns-hot li
{
	background: #7CA403;
}

h1
{
	color: #7CA403;
}

.banner
{
	background: #000000 url('../../themes/green/header.png') no-repeat center bottom;
	border-top: 5px solid #7CA403;
}
