/* ====================================================   COLOR   ==================================================== */

a.more,
.banner .menu_top  li a:hover, 
.banner .menu_top  li a#active,
.columns-hot li
{
	background: #EF00B4;
}

h1
{
	color: #EF00B4;
}

.banner
{
	background: #000000 url('../../themes/pink/header.png') no-repeat center bottom;
	border-top: 5px solid #EF00B4;
}
