/*
		#####################################################################################################################
		#####################################################################################################################
		#####################################################################################################################
		#############################								#############################
		#############################								#############################
		#############################		Autor Design: DUIT Media				#############################
		#############################		Autor Design URL: http://duit-media.de		#############################
		#############################		Autor Umsetzung: WEB3x				#############################
		#############################		Autor URL: http://web3x.de				#############################
		#############################		Autor Name: Markus Plätzer & Eugen Ganshorn		#############################
		#############################								#############################
		#############################								#############################
		#####################################################################################################################
		#####################################################################################################################
		#####################################################################################################################
*/


/* ====================================================   COLOR   ==================================================== */

a.more,
#header #mainMenu li a:hover, 
#header #mainMenu li a#active,
#columns-hot			{ background: #EF00B4; }

h1				{ color: #EF00B4; }


#header 				{ background: #000000 url('../../themes/pink/header.png') no-repeat center bottom; border-top: 5px solid #EF00B4; }
